<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispProfilerAdminDashboard" type="view" menu_name="profiler" menu_index="true" admin_index="true" />
		<action name="dispProfilerAdminConfig" type="view" menu_name="profiler" />
		<action name="dispProfilerAdminSlowlog" type="view" menu_name="profiler" />
		<action name="dispProfilerAdminTriggerList" type="view" menu_name="profiler" />
		<action name="dispProfilerAdminModuleConfigList" type="view" menu_name="profiler" />
		<action name="dispProfilerAdminAddonConfigList" type="view" menu_name="profiler" />
		<action name="dispProfilerAdminTable" type="view" menu_name="profiler" />
		<action name="procProfilerAdminInsertConfig" type="controller" ruleset="insertConfig" />
		<action name="procProfilerAdminDeleteTrigger" type="controller" ruleset="deleteTrigger" />
		<action name="procProfilerAdminDeleteModuleConfig" type="controller" />
		<action name="procProfilerAdminDeleteTable" type="controller" />
		<action name="procProfilerAdminDeleteAddonConfig" type="controller" />
		<action name="procProfilerAdminTruncateSlowlog" type="controller" />
	</actions>
	<menus>
		<menu name="profiler" type="all">
			<title xml:lang="en">XE Profiler</title>
			<title xml:lang="ko">XE Profiler</title>
			<title xml:lang="jp">XE Profiler</title>
			<title xml:lang="zh-CN">XE Profiler</title>
			<title xml:lang="zh-TW">XE Profiler</title>
			<title xml:lang="fr">XE Profiler</title>
			<title xml:lang="de">XE Profiler</title>
			<title xml:lang="ru">XE Profiler</title>
			<title xml:lang="es">XE Profiler</title>
			<title xml:lang="tr">XE Profiler</title>
			<title xml:lang="vi">XE Profiler</title>
			<title xml:lang="mn">XE Profiler</title>
		</menu>
	</menus>
</module>
